.displayBox {
    height: 275px;
    width: auto;
}

h3 {
    text-align: center;
}

li:hover {
    cursor: pointer;
}

.selectedTest {
    color: rgb(122, 180, 46);
}

.buttonOn {
    background-color: goldenrod;
}